/* Error.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 4em;
    margin: 0.5em 0;
}

.subtitle {
    font-size: 2em;
    margin: 0.5em 0;
}

.details {
    margin-bottom: 1em;
}

.link {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 0.5em 1em;
    border-radius: 0.25em;
}